scaffold_name: deepseek_agent
n_threads: 4
pool_size: 16
verification_pool_size: 16
verifications_per_refinement: 4
max_token_verification: null
max_iterations: 4
run_idx: 'deepseek_{model_name}_{problem_id}_{parameter_hash}'
generation_prompt: |
  Your task is to solve a given problem. The problem may ask you to prove a statement, or ask for an answer. If finding an answer is required, you should come up with the answer, and your final solution should also be a rigorous proof of that answer being valid.
  
  Your final solution to the problem should be exceptionally comprehensive and easy-to-follow, which will be rated according to the following evaluation instruction:
  
  ```txt
  Here is the instruction to evaluate the quality of a solution to a problem. The problem may ask for a proof of statement, or ask for an answer. If finding an answer is required, the solution should present the answer, and it should also be a rigorous proof of that answer being valid.
  
  Please evaluate the solution and score it according to the following criteria:
  - If the solution is completely correct, with all steps executed properly and clearly demonstrated, then the score is 1
  - If the solution is generally correct, but with some details omitted or minor errors, then the score is 0.5
  - If the solution does not actually address the required problem, contains fatal errors, or has severe omissions, then the score is 0
  
  Additionally, referencing anything from any paper does not save the need to prove the reference. It's okay IF AND ONLY IF the solution also presents a valid proof of the reference argument(s); otherwise, if the solution omits the proof or if the proof provided is not completely correct, the solution should be scored according to the criteria above, and definitely not with a score of 1
  ```
  
  In fact, you already have the ability to rate your solution yourself, so you are expected to reason carefully about how to solve a given problem, evaluate your method according to the instruction, and refine your solution by fixing issues identified until you can make no further progress.
  
  In your final response, you should present a detailed solution to the problem followed by your evaluation of that solution.
  - To give a good final response, you should try your best to locate potential issues in your own (partial) solution according to the evaluation instruction above, and fix them as many as you can.
  - A good final response should just faithfully present your progress, including the best solution you can give, as well as a faithful evaluation of that solution.
  - Only when you fail to locate any issues in your solution should you score it with 1.
  - If you do notice some issues in your solution but fail to resolve them with your best efforts, it's totally ok to faithfully present the issues in your final response.
  - The worst final response would provide a wrong solution but lie that it's correct or claim that it's correct without careful error checking. A better version should faithfully identify errors in the solution. Remember! You CAN'T cheat! If you cheat, we will know, and you will be penalized!
  
  Your final response should be in the following format:
  
  ## Solution // Your final solution should start with this exact same markdown title
  ... // Your final solution to the problem here. You should try your best to optimize the quality of your solution according to the evaluation instruction above before finalizing it here.
  
  ## Self Evaluation // Your evaluation of your own solution above should start with this exact same markdown title
  
  Here is my evaluation of the solution: // Your analysis should start with this exact same phrase
  ... // Your evaluation here. You are required to present in detail the key steps of the solution or the steps for which you had doubts regarding their correctness, and explicitly analyze whether each step is accurate: for correct steps, explain why you initially doubted their correctness and why they are indeed correct; for erroneous steps, explain the reason for the error and the impact of that error on the solution. You should analyze your solution faithfully. E.g., if there are issues in your final solution, you should point it out.
  
  Based on my evaluation, the final overall score should be:
  \\boxed{{...}} // where ... should be the final overall score (0, 0.5, or 1, and nothing else) based on the evaluation instruction above. You should reach this score ONLY AFTER careful RE-examination of your own solution above
  
  ---
  
  Here is your task input:
  
  ## Problem
  
  {question}
verifier_prompt: | 
  ## Instruction
  Your task is to evaluate the quality of a solution to a problem. The problem may ask for a proof of statement, or ask for an answer. If finding an answer is required, the solution should present the answer, and it should also be a rigorous proof of that answer being valid.
  Please evaluate the solution and score it according to the following criteria:
  - If the solution is completely correct, with all steps executed properly and clearly demonstrated, then the score is 1
  - If the solution is generally correct, but with some details omitted or minor errors, then the score is 0.5
  - If the solution does not actually address the required problem, contains fatal errors, or has severe omissions, then the score is 0
  
  Additionally, referencing anything from any paper does not save the need to prove the reference. It's okay IF AND ONLY IF the solution also presents a valid proof of the reference argument(s); otherwise, if the solution omits the proof or if the proof provided is not completely correct, the solution should be scored according to the criteria above, and definitely not with a score of 1

  Please carefully reason out and analyze the quality of the solution below, and in your final response present a detailed evaluation of the solution's quality followed by your score. Therefore, your response should be in the following format:
  
  Here is my evaluation of the solution:
  ... // Your evaluation here. You are required to present in detail the key steps of the solution or the steps for which you had doubts regarding their correctness, and explicitly analyze whether each step is accurate: for correct steps, explain why you initially doubted their correctness and why they are indeed correct; for erroneous steps, explain the reason for the error and the impact of that error on the solution.
  
  Based on my evaluation, the final overall score should be:
  \\boxed{{...}} // where ... should be the final overall score (0, 0.5, or 1, and nothing else) based on the above criteria
  
  ---
  
  Here is your task input:

  ## Problem
  
  {question}
  
  ## Solution
  
  {proof}
refinement_prompt: |
  {proof_generation_prompt}
  
  ## Candidate Solution(s) to Refine
  Here are some solution sample(s) along with their correctness evaluation(s). You should provide a better solution by solving issues mentioned in the evaluation(s), or by re-using promising ideas mentioned in the solution sample(s), or by doing both.
  
  ### Solution
  {proof}

  ### Evaluation
  {proof_analysis}

  ## Final Instruction
  Your final response should follow the format above, including a '## Solution' section followed by a '## Self Evaluation' section